[user]
  name = denis
  email = denis_lton@hotmail.com
[credential]
  helper = store
[color]
  ui = true
[core]
  editor = vim
  autocrlf = false
  safecrlf = true
[alias]
  st = status
  cm = commit
  br = branch
  co = checkout
  last = log
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[http]
  sslVerify = false
[push]
  default = simple
